@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Orbitron:wght@700&display=swap');


.body-p{
    background-color: #f5f1e6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
h2{
    text-align: center;
}
.form-container {
    width: 460px;
    max-width: 90%;
    border-radius: 16px;
    min-height: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

input{
    border-radius: 4px;
}

